.body{
    background-color:black;
    color: white;
}
h1 {
	font-size: 60px;
	color: black;
    text-align: center;
}
.jumbotron {
	background-size: cover;
	background-repeat: no-repeat;
	color: purple;
	width: auto;
	font-size: 30px;

}
.form {
    align-items: center;
    margin: 60px;
    padding-left: 10px;
}  .footer{
    background-color:black;
  }
  .footer p{
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 600;
  }





