.container-fluid {
	background-color:purple;
}
h1 {
	font-size: 60px;
	color: black;
	text-align: center;
}.jumbotron {
	/* background-image: url(../image/julian-paolo-dayag-5C6obUZv2c8-unsplash.jpg); */
	background-size: cover;
	background-repeat: no-repeat;
	color: purple;
	width: auto;
	font-size: 30px;

}

