.body{
    
    color: white;
    overflow-x: hidden;
}
h1 {
	font-size: 60px;
	color: black;
    text-align: center;
}
.jumbotron {
	background-size: cover;
	background-repeat: no-repeat;
	color:brown;
	width: auto;
	font-size: 30px;
  /* display: flex; */
  /* flex-direction: row;
  float: left; */
}

.form {
    align-items: center;
    margin: 60px;
    padding-left: 10px;
}  
.footer{
    background-color:black;
    color: cornsilk;
    background-size: cover;
    height: 50px;
    width: 1300px;
    text-align: center;
    padding-top: 10px;
    /* font-size: 20px; */
    /* font-weight: 600; */
  }


  h5{
    font-size: 30px;
    margin: 5px;
    color:blueviolet;
    font-style:italic;
  }
  .input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
  } 
   .input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } 
  
  .input[type=submit]:hover {
    background-color: #608161;
  } 
  .div .row{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }












